.navbar{
    background-color: black;
}

.flex-container{
    display: flex;
    justify-content: center;
}
.banner{
    color: darkorange;
    font-size: 60px;
    text-align: center;
}

.banner2{
    color:purple;
    font-weight: bolder;
    text-align: center;
}

#num{
    border-radius: 2rem;
}

.list-group-item{
    background-color: violet;
    color: black;
}
.list-group{
    padding: 3rem;
}

.zone{
    text-align: center;
    background-color: yellow;
    overflow: hidden;
    bottom: 0;
    margin-top: 15%;
    width: 100%;
}

.developer{
    font-weight: bolder;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}